# don't checkin the node-modules directory or it's contents
node_modules/
api/
public/*

# specific files within the ignored directories that need to be committed
!node_modules/simple-hl7/*
!public/sample.hl7