<div class="container">
  
  <h1>{{ title }}</h1>
  
  <!-- <div>{{ hl7data }}</div> -->
  <form class="form-horizontal search-form">
  	<div class="form-group">
  		<label class="col-sm-2 control-label">Search:</label>
  		<div class="col-sm-10">
  			<input type="text" class="form-control" ng-model="global.searchValue" placeholder="enter search text"></input>
  		</div>
  	</div>
  </form>

  <!-- <patient ng-repeat="record in records | patientHighlight: global.searchValue " ng-model="record"></patient> -->
  <patient ng-repeat="record in records | filter: global.searchValue " ng-model="record"></patient>

  <div ng-repeat="item in rawhl7data | filter:global.searchValue" ng-bind-html="item.text | highlight:global.searchValue"></div>
  
</div>