body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif; }

a {
  color: #666666;
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    color: #000;
    text-decoration: underline; }

.search-result {
  background-color: #e1e7f1;
  margin: 5px 5px; }

.search-form {
  margin-bottom: 20px; }

/* this class applies a background color to the searched for text */
.highlight {
  background: #47e336;
  font-style: italic; }

/* ---------------------------- *      # Bootstrap overrides
\* ---------------------------- */
.form-group {
  margin-bottom: 0; }
