<div class="container patient-container">

  <form class="form-horizontal search-result">
    <div class="form-group">
      <label class="col-sm-3 control-label">Patient Identification #:</label>
      <div class="col-sm-8">
        <p class="form-control-static" ng-bind-html="record.pid | highlight:global.searchValue"></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Last Name:</label>
      <div class="col-sm-8">
        <p class="form-control-static" ng-bind-html="record.lastName | highlight:global.searchValue"></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">First Name:</label>
      <div class="col-sm-8">
        <p class="form-control-static" ng-bind-html="record.firstName | highlight:global.searchValue"></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">MI:</label>
      <div class="col-sm-8">
        <p class="form-control-static" ng-bind-html="record.middle | highlight:global.searchValue"></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Type of test:</label>
      <div class="col-sm-8">
        <p class="form-control-static" ng-bind-html="record.testType | highlight:global.searchValue"></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Overall Cholesterol:</label>
      <div class="col-sm-8">
        <p class="form-control-static" ng-bind-html="record.cholesterol | highlight:global.searchValue"></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">HDL Cholesterol:</label>
      <div class="col-sm-8">
        <p class="form-control-static" ng-bind-html="record.hdlCholesterol | highlight:global.searchValue"></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">VLDL Cholesterol:</label>
      <div class="col-sm-8">
        <p class="form-control-static" ng-bind-html="record.vldl | highlight:global.searchValue"></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">LDL Cholesterol:</label>
      <div class="col-sm-8">
        <p class="form-control-static" ng-bind-html="record.ldl | highlight:global.searchValue"></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Triglycerides:</label>
      <div class="col-sm-8">
        <p class="form-control-static" ng-bind-html="record.triglycerides | highlight:global.searchValue"></p>
      </div>
    </div>
  </form>

  <patientVis></patientVis>
  
</div>