<div class="container">
  
  <h1>{{ title }}</h1>
  
  <div class="search-bar  col-sm-12">
	  <form class="col-sm-12 col-md-6 form-horizontal search-form">
	  	<div class="form-group has-feedback">
	  		<input type="text" class="form-control" ng-model="global.searchValue" placeholder="enter search text"></input>
	  		<i class="glyphicon glyphicon-search form-control-feedback"></i>
	  	</div>
	  </form>
	  <button class="col-sm-12 col-md-5 btn btn-success col-md-offset-1" ng-click="showHideRawHL7()">{{ viewRawBtnLabel }}</button>
	</div>
	
  <div class="row-count">Num records: {{ filtered.length }} of {{ records.length }}</div>
	
	<hr class="hr-short col-sm-12">
  
  <div ng-class="col-sm-6">
	  <patient class="col-sm-12" ng-repeat="record in filtered = (records | filter: global.searchValue) " ng-model="record"></patient>
	</div>
	
	<div ng-class="{hidden: !showRawHL7}" class="col-sm-12 raw-hl7">
		  <div ng-repeat="item in rawhl7data | filter:global.searchValue" ng-bind-html="item.text | highlight:global.searchValue"></div>
	</div>
</div>